body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ddd;
  }
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    width: 320px; 
    margin: 50px auto;
  }
  
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: #f0f0f0; 
    color: #333; 
    cursor: pointer;
  }
  
  .cell:hover {
    background-color: #e0e0e0; 
  }
  